[user]
	name = Adam Scriven
	email = adam.scriven+github@gmail.com

[color]
    ui = auto
    branch = auto
    status = auto
    diff = auto
[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
[color "status"]
    added = yellow
    changed = green
    untracked = cyan
[alias]
    st = status
    ci = commit
    co = checkout
    br = branch
    mt = mergetool --no-prompt
    unstage = reset HEAD --
    vdiff = difftool  --no-prompt --tool=vimdiff
    vlog = log --name-status
    unstage = reset HEAD --
[merge]
	tool = vimdiff
[ui]
	color = true
