# include default inputrc
$include /etc/inputrc

# use vi key bindings
set editing-mode vi

# up/down arrow for searching command line history
"\C-[[A": history-search-backward
"\C-[[B": history-search-forward

# Alt-. to yank last arguments
"\e.": yank-last-arg

# tab completion shows menu and cycles through matches
set show-all-if-ambiguous on
TAB: menu-complete
